[user]
	email = bivoje49@gmail.com
	name = bivoje
[credential]
	helper = store
[alias]
	ll = log --graph --oneline --all --decorate
	st = status
[merge]
	tool = vimdiff
[core]
	editor = vim
[color "diff"]
	meta = blue
